
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
header {
    max-width: 100%;
    margin: auto;
    border: 1px solid;
    padding: 1rem;
    background-color: rgb(65, 65, 224);

}
footer {
  max-width: 100%;
  background-color: rgb(65, 65, 224);
  padding: 1rem;
  text-align: center;
}
h2, section {
    margin: 0;
    padding: 1rem;
    background-color: lightgray;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
h1, h2, .gallery {
    text-align: center;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
  }
  .menu-btn {
    display: none;
  }
  nav a {
    display: inline;
  }
  nav {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
       